.about  {
    background: #fff;
    padding: 100px 0;
    
    &__head  {
        background: url(../images/index/jeepbg.jpg)100% 50% no-repeat;
        background-size: cover;
        position: relative;
        height: 70%;
        width: 100%;
        position: relative;

        &:after  {
            content: '';
            position: absolute;
            right: 0;
            bottom: 0;
            width: 100%;
            height: 50%;
            background: url(../images/index/shadow.png)100% 100% no-repeat;
            z-index: 0;
        }
    }
    &__wrap {
        text-align: center;
        width: 60%;
        margin: 0 auto;
        @include  tablets  {
            width: 95%;
        }
        & h2 {
            font-family: $latobold;
            font-size: 18px;
        }
        & p  {
            font-family:$latolight;
            font-size: 18px;
            margin:20px 0px ;
        }
        & h3  {
            font-family: latomedium_italic;
            font-size: 18px;
        }
    }
    &__title  {
        text-align: center;
        position: relative;
        padding: 80px 0;
        margin: 100px 0 50px 0;
        background: url(../images/index/bgforest.jpg) center no-repeat;
        color: #fff;
        text-transform: uppercase;
        font-family:$latoregular;
        @include netbook  {
            padding: 50px 0;
        }
    }
    &__list  {
        display: flex;
        justify-content: space-around;
        @include netbook  {
            flex-direction: column;
        }
    }
    &__item  {
        width: 30%;
        text-align: center;
        @include netbook  {
         width: 95%;
         margin: 30px 0;
        }
    }
    &__titles  {
        font-family: $latobold;
        font-size: 20px;
        color: #333;
        margin: 35px 0;
    }
    &__name  {
        font-family: latoitalic;
        font-size: 20px;
        color: #333;
        margin-bottom: 10px;
    }  
    &__text  {
        font-family:$latolight;
        font-size: 20px;
        color: #333;
        margin-bottom: 20px;
    }
    &__note  {
        font-family: latolight_italic;
        font-size: 16px;
        color: #333;
    }
    &__img  {
        height: 100px;
    }
    &-title__note  {
        font-size: 20px;
        font-family:$latobold;
        color:#333;
        text-align: center;
        position:relative;
        margin-bottom: 100px;
        &::after {
            position: absolute;
            content: "";
            height: 1px;
            width: 80%;
            background: #ccc;
            bottom: -100%;
            left: 10%;
        }
    }
}