.article  {
        background: #fff;
        padding: 100px 0 0;
    &__head  {
        background: url(../images/index/articlebg.jpg)100% 65% no-repeat;
        background-size: cover;
        position: relative;
        height: 80%;
        width: 100%;
        @include netbook  {
            background: url(../images/index/articlebg.jpg)54% 100% no-repeat;
            background-size: cover;
        }
        &:before  {
            content: '';
            position: absolute;
            left: 0;
            top: -47%;
            width: 100%;
            height: 100%;
            background: url(../images/index/sky.png)100% 100%;
            z-index: 0;
        }

    }
    &__link  {
        font-family: $latolight;
        font-size: 18px;
        color: rgba(56, 56, 56, 255);
        text-align-last:center;
        margin-bottom: 100px;
        display: inline-block;
        @include netbook  {
            margin-bottom: 50px;
        }
    }
    &__wrap  {
        display: flex;
        width: 80%;
        margin: 0 auto;
        @include netbook  {
            flex-direction: column;
            text-align: center;
            width:95%;
        }
    }
    &__travel  {
        width: 20%;
        padding-right:20px; 
        @include netbook  {
            padding-right:0px; 
            width: 100%;
            margin-bottom: 20px;
        }
    }
    &__country  {
        font-family: $latomedium;
        font-size: 24px;
        color: rgba(56, 56, 56, 255);   
    }
    &__data  {
        font-family:$latolight;
        font-size: 18px;
        color: rgba(56, 56, 56, 255); 
        margin: 10px 0 30px 0px;
    }
    &__route  {
        font-family:latolight_italic;
        font-size: 16px;
        color: rgba(56, 56, 56, 255); 
    }
    &__descript  {
        width: 70%;
        overflow: hidden;
        @include netbook  {
            width: 100%;
        }
    }
    &__title  {
        margin-top: 50px;
        font-size: 24px;
        color: rgba(56, 56, 56, 255);
        font-family: $latomedium;
    }
    &__subtitle  {
        margin-top: 75px;
        font-size: 20px;
        font-family: $latobold;
        color: rgba(56, 56, 56, 255);
        display: block;
    }
    &__text  {
        font-size: 18px;
        color: #383838;
        font-family: $latolight;
        margin: 30px 0;
    }
    &__img  {
        text-align: center;
        position: relative;
        &:before  {
            content: '';
            background: url(../images/index/play.png)no-repeat;
            width: 95px;
            height: 95px;
            position: absolute;
            top: 50%;
            left: 50%;
            transform: translate(-50%,-50%);
        }
    }
    &__blockquote  {
        position: relative;
        background: #09343c;
        color: #fff;
        font-size: 18px;
        font-family: latolight_italic;
        border: 39px solid #09343c;
        &::before {
            content: '';
            background: url(../images/index/clip.png)no-repeat;
            width: 40px;
            height: 52px;
            top: -65px;
            left: 0;
            position: absolute;
        }
    }
    &__pic  {
        display: flex;
        @include netbook  {
            flex-direction: column;
        }
        &-land  {
           width: 48%;
           height: 265px;
           overflow: hidden;
           margin-right: 30px;
           @include netbook   {
            margin-right: 0px;
            height: auto;
            width: 100%;
           }
        }
    }
}


// ========================================================================================================
// ==========================================================photogallery
// ========================================================================================================
.photogallery  {
    background: #fff;
    position: relative;
    &__title  {
        font-family:$latobold;
        font-size: 20px;
        color: rgba(56, 56, 56, 255);
        text-align: center;
    }
    &__wrap {
      
    }
    &__line  {
        width: 85%;
        height: 1px;
        background: #ccc;
        display: block;
        margin: 50px auto;
       
    }
    &__list  {
        display: flex;
        flex-wrap: wrap;
        justify-content: space-around;
        width: 85%;
        margin: 0 auto;
    }
    &__item  {
        width: 21%;
        overflow: hidden;
        margin-bottom: 40px;
        @include netbook  {
            width: 30%;
        }
        @include tablets   {
            width: 45%;
            margin-bottom: 20px;
        }
        @include phones   {
            width: 85%;
        }
    }
    &__button  {
        width: 280px;
        margin: 50px auto;
        &:hover  {
            background: #649435;
        }
    }
    &__article  {
        display: flex;
        width: 85%;
        justify-content: space-between;
        @include netbook  {
            flex-direction: column;
        }
        &:before  {
            display: none;
        }
    }
    &__text  {
        padding-right: 15px;
    }
    &__next  {
        cursor: pointer;
        position: absolute;
        left: 0;
        top: 50%;
        transform: translate(50%,-50%);
        z-index:1000;
        transition:.3s;
        @include desktop  {
            height: 140px;
        }
        @include netbook  {
            height: 0px;
        }
    
        &:hover  {
            fill: #6ba522;
        }
    }
    &__prev {
        cursor: pointer;
        position: absolute;
        right: 0;
        top: 50%;
        transform: translate(-50%,-50%);
        transition:.3s;
        @include desktop  {
            height: 140px;
        }
        @include netbook  {
            height: 0px;
        }
    
        &:hover  {
            fill: #6ba522;
         }
    }
}


