@charset "UTF-8"; /*! normalize.css v7.0.0 | MIT License | github.com/necolas/normalize.css */
html {
    line-height: 1.15;
    -ms-text-size-adjust: 100%;
    -webkit-text-size-adjust: 100%
}
article, aside, footer, header, nav, section {
    display: block
}
h1 {
    font-size: 2em
}
figcaption, figure, main {
    display: block
}
figure {
    margin: 1em 2.5rem
}
hr {
    -webkit-box-sizing: content-box;
    box-sizing: content-box;
    height: 0;
    overflow: visible
}

pre {
    font-family: monospace, monospace;
    font-size: 1em
}

a {
    background-color: transparent;
    -webkit-text-decoration-skip: objects
}

abbr[title] {
    border-bottom: none;
    -webkit-text-decoration: underline dotted;
    text-decoration: underline dotted
}

b, strong {
    font-weight: bolder
}

code, kbd, samp {
    font-family: monospace, monospace;
    font-size: 1em
}

dfn {
    font-style: italic
}

mark {
    background-color: #ff0;
    color: #000
}

small {
    font-size: 80%
}

sub, sup {
    font-size: 75%;
    line-height: 0;
    position: relative;
    vertical-align: baseline
}

sub {
    bottom: -.25em
}

sup {
    top: -.5em
}

audio, video {
    display: inline-block
}

audio:not([controls]) {
    display: none;
    height: 0
}

img {
    border-style: none
}

svg:not(:root) {
    overflow: hidden
}

button, input, optgroup, select, textarea {
    font-family: sans-serif;
    font-size: 100%;
    line-height: 1.15;
    margin: 0
}

button, input {
    overflow: visible;

}
button  {
    outline: transparent;
}

button, select {
    text-transform: none
}

[type=reset], [type=submit], button, html [type=button] {
    -webkit-appearance: button
}

[type=button]::-moz-focus-inner, [type=reset]::-moz-focus-inner, [type=submit]::-moz-focus-inner, button::-moz-focus-inner {
    border-style: none;
    padding: 0
}

[type=button]:-moz-focusring, [type=reset]:-moz-focusring, [type=submit]:-moz-focusring, button:-moz-focusring {
    outline: ButtonText dotted .0625rem
}

fieldset {
    padding: .35em .75em .625em
}

legend {
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
    color: inherit;
    display: table;
    max-width: 100%;
    padding: 0;
    white-space: normal
}

progress {
    display: inline-block;
    vertical-align: baseline
}

textarea {
    overflow: auto
}

[type=checkbox], [type=radio] {
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
    padding: 0
}

[type=number]::-webkit-inner-spin-button, [type=number]::-webkit-outer-spin-button {
    height: auto
}

[type=search] {
    -webkit-appearance: textfield;
    outline-offset: -.125rem
}

[type=search]::-webkit-search-cancel-button, [type=search]::-webkit-search-decoration {
    -webkit-appearance: none
}

::-webkit-file-upload-button {
    -webkit-appearance: button;
    font: inherit
}

details, menu {
    display: block
}

summary {
    display: list-item
}

canvas {
    display: inline-block
}

[hidden], template {
    display: none
}

html {
    font-size: 1rem;
    @include tablets  {
        font-size: .9375rem
    }
    @include phones  {
        font-size: .875rem;
    }
}

body, html {
    height: 100%
}

body {
    margin: 0;
    padding: 0;
    font-size: 1rem;
    line-height: 1.42;
    -webkit-font-snoothing: antialiased;
    -moz-osx-font-snoothing: grayscale
}

*, :after, :before {
    -webkit-box-sizing: border-box;
    box-sizing: border-box
}

h1, h2, h3, h4, h5, h6, p {
    margin: 0;
    padding: 0;
    font-weight: 400
}

li, ul {
    margin: 0;
    padding: 0;
    list-style-type: none
}

a {
    text-decoration: none
}

img {
    max-width: 100%
}



.wrapper {
    width: 100%;
    max-width:2000px;
    height: 100%;
    position: relative;
    overflow-x: hidden;
    margin: 0 auto;
}
.logo  {
    width: 393px;
    @include desktop  {
        width: 300px;
        height: auto;
    }
    @include tablets  {
        margin-left: 15px;
        margin-bottom: 5px;
    }
    @include phones  {
        width: 240px;
    }
}
.social-contacts  {
    @include tablets  {
        margin-left: 30px;
    }
}
.contacts {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
    -webkit-justify-content: space-between;
    -ms-flex-pack: justify;
    justify-content: space-between;
    -webkit-box-align: center;
    -webkit-align-items: center;
    -ms-flex-align: center;
    align-items: center;
    padding: 5.625rem 0 3.125rem;
    border-bottom: .0625rem solid #4f8096;
    margin-bottom: 5.625rem;
    position: relative
}

.contacts__mail {
    display: inline-block;
    font-family: latolight;
    color: #09343c;
    font-size: 1.25rem;
    -webkit-transition: .4s;
    -o-transition: .4s;
    transition: .4s
}

.contacts__mail-svg {
    width: 1.875rem;
    vertical-align: sub;
    fill: #09343c;
    -webkit-transition: .4s;
    -o-transition: .4s;
    transition: .4s
}

.contacts__mail:hover {
    color: #fff
}

.contacts__mail:hover .contacts__mail-svg {
    fill: #fff
}

.contacts__whatsup {
    font-family: latoregular;
    font-size: 1.25rem;
    color: #09343c;
    -webkit-transition: .4s;
    -o-transition: .4s;
    transition: .4s;
    padding-bottom: .625rem
}

.contacts__whatsup-svg {
    width: 1.875rem;
    vertical-align: bottom;
    fill: #09343c;
    -webkit-transition: .4s;
    -o-transition: .4s;
    transition: .4s
}

.contacts__whatsup:hover {
    color: #fff
}

.contacts__whatsup:hover .contacts__whatsup-svg {
    fill: #fff
}


.butt {
    height: 5rem;
    width: 23.125rem;
    background: #9ac419;
    display: inline-block;
    position: absolute;
    left: 50%;
    overflow: hidden;
    cursor: pointer;
    -webkit-transform: translate(-50%, -50%) skewX(-20deg);
    -ms-transform: translate(-50%, -50%) skewX(-20deg);
    transform: translate(-50%, -50%) skewX(-20deg);
    -webkit-transition: .3s;
    -o-transition: .3s;
    transition: .3s;
    @include phones  {
        width: 15.625rem;
        height: 3.75rem;
    }
}

.butt:hover {
    -webkit-transform: translate(-50%, -50%) skewX(-25deg) scale(1.2);
    -ms-transform: translate(-50%, -50%) skewX(-25deg) scale(1.2);
    transform: translate(-50%, -50%) skewX(-25deg) scale(1.2)
}

.butt:before {
    position: absolute;
    content: 'Хочу поехать!';
    color: #fff;
    font-size: 2.1875rem;
    font-family: latoregular;
    left: 50%;
    top: 50%;
    -webkit-transform: translate(-50%, -50%) skewX(20deg);
    -ms-transform: translate(-50%, -50%) skewX(20deg);
    transform: translate(-50%, -50%) skewX(20deg);
    white-space: nowrap;
    @include phones  {
        font-size: 1.5rem;
    }
}

.form {
    padding: 6.25rem 0 0;
    background: #042d35;
    @include  phones  {
        padding: 4.375rem 0 0;
    }
}

.form__container {
    width: 100%;
    height: 100%;
    background: url(../images/content/forest.png) 0 0/cover no-repeat;
    -webkit-background-size: cover
}

.forma {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -webkit-flex-direction: column;
    -ms-flex-direction: column;
    flex-direction: column;
    width: 40%;
    margin: 0 auto;
    @include tablets  {
        width: 70%;
    }
    @include phones  {
        width: 90%;
    }
}

.forma__inp {
    margin-bottom: .6875rem;
    height: 3.125rem;
    padding: 0 .3125rem;
    text-align: center
}

.forma__button {
    cursor: pointer;
    border: none;
    font-size: 1.125rem;
    background: #74a940;
    color: #fff;
    height: 3.125rem;
    display: block;
    position: relative;
    -webkit-transition: .5s;
    -o-transition: .5s;
    transition: .5s;
    overflow: hidden;
    z-index: 1
}

.forma__button::after, .forma__button::before {
    position: absolute;
    content: '';
    width: 100%;
    height: 100%;
    background: #649435;
    top: 0;
    left: -100%;
    opacity: .5;
    -webkit-transition: .3s;
    -o-transition: .3s;
    transition: .3s;
    z-index: -1
}

.forma__button::after {
    opacity: 1;
    -webkit-transition-delay: .2s;
    -o-transition-delay: .2s;
    transition-delay: .2s
}

.forma__button:hover {
    color: #fff;
    background: #649435;
}

.forma__button:hover::after, .forma__button:hover::before {
    left: 0
}

.social {
    padding: 3.125rem 0;
    width: 30%;
    margin: 0 auto;
    text-align: center;
    @include tablets  {
        width: 100%;
    }
}

.social__icon {
    display: block;
    width: 2.5rem;
    height: 2.5rem;
    margin: 0 auto;
    fill: #5f7aa4;
    -webkit-transition: all .5s;
    -o-transition: all .5s;
    transition: all .5s
}
.cont  {
    fill: #5f7aa4;  
}
.social span {
    display: inline-block;
    color: #fff;
    font-size: 1.25rem;
    font-family: latolight;
    padding: .3125rem 0;
    -webkit-transition: all .5s;
    -o-transition: all .5s;
    transition: all .5s
}

.social__link {
    display: block;
    margin-bottom: .625rem;
    -webkit-transition: all .5s;
    -o-transition: all .5s;
    transition: all .5s
}

.social__link:hover .social__icon {
    fill: #9ac419
}

.social__link:hover .social__icon ~ span {
    color: #74a940
}

.header-contacts {
    background: url(../images/contacts/contacts_bg2.jpg) no-repeat;
    background-position: 100% 50%;
    -webkit-background-size: cover;
    position: relative;
    height: 80%;
    width: 100%;
    @include tablets  {
        background: url(../images/contacts/contacts_bg2.jpg) 50% 90% no-repeat;
    }
}

.header-contacts__list {
    background: #1d2e48;
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-justify-content: space-around;
    -ms-flex-pack: distribute;
    justify-content: space-around;
    -webkit-box-align: center;
    -webkit-align-items: center;
    -ms-flex-align: center;
    align-items: center;
    opacity: .8
}

.navigation {
    display: flex;
    justify-content: space-around;
    -webkit-box-align: center;
    -webkit-align-items: center;
    -ms-flex-align: center;
    align-items: center;
}

.navigation__item {
    -webkit-transition: .3s;
    -o-transition: .3s;
    transition: .3s
}

.navigation__item:hover {
    cursor: pointer;
    background: #253957
}

.navigation__item:hover .navigation__link {
    color: #fff;
}

.navigation__link {
    display: block;
    padding: 3.125rem 1.25rem;
    font-family: latolight;
    font-size: 1.25rem;
    color: #fff;
    -webkit-transition: .3s;
    -o-transition: .3s;
    transition: .3s
}

.m {
    font-family: latolight;
    font-size: 1.25rem;
    color: #fff;
    margin-bottom: .3125rem
}

.green {
    margin-right: .625rem;
    fill: #74b31c
}

.title-contacts {
    text-transform: uppercase;
    position: absolute;
    right: 0;
    bottom: 0;
    font-family: latomedium;
    color: #fff;
    font-size: 3.75rem;
    display: block;
    width: 31.25rem;
    -webkit-transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
    text-align: center;
    @include netbook  {
        width: 20rem;
        font-size: 3rem;
    }
    @include tablets  {
        width: 11rem;
        font-size: 2rem;
    }
}

.sectin-contacts {
    background: #2b3e5b;
    padding-top: 5.625rem;
    position: relative;
    z-index: 1
}

.sectin-contacts:before {
    content: "";
    position: absolute;
    left: 0;
    bottom: 0;
    width: 100%;
    height: 30%;
    background: url(../images/contacts/tree.png) no-repeat;
    z-index: -1
}

.middle {
    width: 30.8125rem;
    padding: 1.25rem 0 1.25rem 100px;
    margin: 0 auto 3.125rem;
    border: .0625rem solid #33575e;
    @include tablets  {
        width: 400px;
    }
    @include phones  {
        width: 100%;
        padding: 1.25rem 0 1.25rem 0px;
        text-align: center;
    }
    &-cont  {
        border: .0625rem solid #5f7aa4;
    }
}


.middle__item {
    margin-bottom: .3125rem
}

.middle__link {
    font-family: latolight;
    font-size: 1.25rem;
    color: #fff
}

.middle__icon {
    fill: #33575e;
    margin-right: .625rem
}

.contacts-subtitle {
    font-family: latobold;
    font-size: 1.375rem;
    color: #74a940;
    text-transform: uppercase;
    text-align: center;
    margin-bottom: 2.8125rem
}

.forma-contacts {
    width:27%;
    @include  netbook  {
        width: 50%;
    }
}

.navigation-foot {
    display: flex;
    width: 27%;
    margin: 0 auto;
    -webkit-box-pack: justify;
    -webkit-justify-content: space-between;
    -ms-flex-pack: justify;
    justify-content: space-between;
    padding: 0px 0 40px 0px;
    border-top: .0625rem solid #5f7aa4;
    margin-top: 120px;
    @include netbook  {
        width: 95%;
    }
    @include phones  {
        width: 100%;
        justify-content: space-around;
    }
}
.cont-foot  {
    padding: 50px 0 40px 0px;
}
.navigation__links {
    font-size: 1rem;
    color: #fff;
    font-family: latolight;
    -webkit-transition: .3s;
    -o-transition: .3s;
    transition: .3s;
    @include phones  {
        font-size: 12px;
    }

}

.navigation__links:hover {
    color: #74a940;
}


.contactsmentor  {
    display: flex;
    justify-content: center;
    margin-bottom: 50px;
    @include netbook  {
        flex-wrap: wrap;
    }
 &__img  {
     border-radius: 50%;
     overflow: hidden;
     width: 350px;
    height: 350px;
    @include phones  {
        width: 300px;
        height: 300px;
    }
 }
 &__text  {
     width: 40%;
     padding-left: 50px;
     @include desktop  {
         width: 60%;
     }
     @include  netbook  {
         width: 95%;
         text-align: center;
         padding-left: 0;
         padding-top: 20px;
     }
 }
 &__name  {
     font-size: 24px;
     color: #fff;
     font-family: $latoregular;
     margin-bottom: 10px;
     @include phones  {
         font-size: 18px;
     }
 }
 &__descript  {
    font-size: 18px;
    color: #fff;
    font-family: latolight;
    margin-bottom: 10px;
    @include phones  {
        font-size: 16px;
    }
 }
 &__slang  {
    font-size: 18px;
    color: #fff;
    font-family: $latoregular;
    @include phones {
        font-size: 16px;
    }
 }
}

@media screen and (max-width: 85.3125rem) {
    .navigation__link {
        font-size: 1rem;
        padding: 30px 5px;
    }
    .contacts {
        padding: 1.25rem 0;
        margin-bottom: 2.8125rem
    }
    .contacts__mail {
        font-size: 1.125rem
    }

    .contacts__mail-svg {
        width: 1.5625rem
    }

    .contacts__whatsup {
        font-size: 1rem
    }

    .contacts__whatsup-svg {
        width: 1.5625rem
    }

    @media screen and (max-width: 61.9375rem) {
        #nav-icon {
            display: block;
        }
        .navigation {
            overflow: hidden;
            height: 0;
        }

        .header-contacts__list  {
            padding:10px 0;
            position: absolute;
            width: 100%;
            z-index: 2;
            flex-direction: column;
            @include tablets  {
                align-items: start;
            }
        }
        .active-nav  {
            order:3;
            width: 100%;
            & ul {
                flex-direction: column;
                overflow: auto;
                height: 100%;
                text-align: center;
                margin-bottom: -10px;
                transition:.3s;
                & li {
                    width: 100%;
                    & a {
                        font-size: 22px;
                    }
                }
            }
        }

    }





}









