.description  {
  background: #09343c;
  padding: 60px 80px;
  @include desktop {
    padding: 10px 30px 20px ;
  }
  @include phones  {
    padding: 10px;
  }
  &__title  {
    text-align: center;
    font-size: 30px;
    font-family: $latoregular;
    color: rgba(118, 155, 162, 255);
    text-transform: uppercase;
    margin: 50px 0;
    &-subtitle  {
      color: #fff;
    }
  }
  &__list {
    display: flex;
    justify-content: space-between;
    @include  netbook  {
      flex-wrap: wrap;
    }
  }
  &__item  {
    flex-basis: 100%;
    padding:40px;
    text-align: center;
    @include desktop  {
      padding:10px;
    }
    @include netbook  { 
      flex-basis: 50%;
      margin-bottom: 25px;
    }
    @include tablets  {
      flex-basis: 100%;
      padding:0 15px
    }
  }
  &__img  {
    height: 80px;
    margin-bottom: 15px;
  }
  &__item p {
    font-family: 'latolight';
    font-size: 18px;
    color: rgba(255, 255, 255, 255);
  }
  &__descript{
    width: 68%;
    display: block;
    margin: 0 auto;
    text-align: center;
    color: #fff;
    font-size: 20px;
    font-family:$latolight;
  }
  &__line  {
    display: block;
    width: 30%;
    height: 1px;
    background: #486c73;
    margin: 0 auto;
  }
}
//==================================================================================================================
//======                                         SECTION REVIEwS
//==================================================================================================================
.reviews  {
  padding:80px 0;
  &__wrapper  {

    margin: 0 auto;
  }
  &__title {
    font-family: $latomedium;
    font-size: 30px;
    color: rgba(56, 56, 56, 255);
    text-align: center;
    margin-bottom: 60px;
    text-transform: uppercase;
  }
  &__img  {
    display: inline-block;
    width: 150px;
    height: 150px;
    border-radius: 50%;
    overflow: hidden;
    vertical-align: middle;
    @include tablets  {
      margin: 0 auto;
      display: block;
      margin-bottom: 10px;
    }
  }
  &__descript  {
    display: inline-block;
    width: 75%;
    padding-left: 40px;
    vertical-align:top;
    
    @include tablets  {
      width: 100%;
      text-align: center;
      padding-left: 0;
    }
  }
  &__name  {
    font-family:$latoblack;
    font-size: 20px;
    margin-bottom: 5px;
    color: #383838;
  }
  &__text  {
    font-size: 20px;
    font-family: latolight_italic;
    color: #383838;
  }
}
.wrapslider {
  width: 60%;
  margin:0 auto ;
  @include desktop  {
    width: 70%;
  }
  @include netbook  {
    width: 80%;
  }
  @include tablets  {
    width: 100%;
  }
}