.plan h5 {
  display: block;
  background:#09343c;
  color: #fff;
  font-size: 20px;
  font-family: 'latolight';
  text-align: center;
  padding: 25px 0;
  position: relative;
  z-index: 20;
  text-transform: uppercase;
}
.arrow  {
  position: absolute;
  cursor: pointer;
  content: '';
  width: 80px;
  height: 80px;
  background:#09343c;
  border-radius: 50%;
  left: 50%;
  transform: translate(-50%,-50%);
  z-index: 17;
  &__img  {
    position: absolute;
    top:60%;
    left: 50%;
    transition: .5s;
    transform: translate(-50%) rotate(180deg);
    transition: .5s;
    &-active  {
      transform: translate(-50%) rotate(0deg);
    }
  }
}
.plan  {
  background: #e9e9e9;
  &__container  {
    background: #e9e9e9;
    display: flex;
    justify-content: space-around;
    overflow: hidden;
    height: 100%;
    @include netbook  {
      flex-wrap: wrap;
    }
  }
  &__list  {
    flex-basis: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    @include  netbook  {
      flex-basis:100%; 
      text-align: center;
    }
    @include tablets  {
      &:first-child{
        padding: 30px 0 0 0;
      }
    }
  }
  &__item  {
    flex-basis: 100%;
    height: 33.3%;
    padding: 35px 32px;
    @include netbook  {
      padding: 35px 10px;
      height: auto;
    }
    @include netbook  {
      &:nth-child(1n+1){
        padding: 5px 15px; 
      }
    }
   @include netbook  {
   }
  }
  &__day  {
    color: #0b3a43;
    font-size: 30px;
    font-family: 'latoheavy';
    @include netbook  {
      font-size: 18px;
    }
  }
  &__date  {
    font-size: 16px;
    font-family: 'latoheavy';
    color: #1a464e;
    padding:5px 0;
    @include netbook {
      font-size: 16px;
    }
  }
  &__text  {
    font-family: 'latolight';
    color: #000;
    font-size: 16px;
    color: rgba(9, 52, 60, 255);
  }
}