@font-face {
  font-family: latoblack;
  src: url(../fonts/lato-black_0-webfont.woff2) format("woff2"), url(../fonts/lato-black_0-webfont.woff) format("woff");
  font-weight: 400;
  font-style: normal
}

@font-face {
  font-family: latoblack_italic;
  src: url(../fonts/lato-blackitalic_0-webfont.woff2) format("woff2"), url(../fonts/lato-blackitalic_0-webfont.woff) format("woff");
  font-weight: 400;
  font-style: normal
}

@font-face {
  font-family: latobold;
  src: url(../fonts/lato-bold_0-webfont.woff2) format("woff2"), url(../fonts/lato-bold_0-webfont.woff) format("woff");
  font-weight: 400;
  font-style: normal
}

@font-face {
  font-family: latobold_italic;
  src: url(../fonts/lato-bolditalic_0-webfont.woff2) format("woff2"), url(../fonts/lato-bolditalic_0-webfont.woff) format("woff");
  font-weight: 400;
  font-style: normal
}

@font-face {
  font-family: latoheavy;
  src: url(../fonts/lato-heavy-webfont.woff2) format("woff2"), url(../fonts/lato-heavy-webfont.woff) format("woff");
  font-weight: 400;
  font-style: normal
}

@font-face {
  font-family: latoheavy_italic;
  src: url(../fonts/lato-heavyitalic-webfont.woff2) format("woff2"), url(../fonts/lato-heavyitalic-webfont.woff) format("woff");
  font-weight: 400;
  font-style: normal
}

@font-face {
  font-family: latoitalic;
  src: url(../fonts/lato-italic_0-webfont.woff2) format("woff2"), url(../fonts/lato-italic_0-webfont.woff) format("woff");
  font-weight: 400;
  font-style: normal
}

@font-face {
  font-family: latolight;
  src: url(../fonts/lato-light_0-webfont.woff2) format("woff2"), url(../fonts/lato-light_0-webfont.woff) format("woff");
  font-weight: 400;
  font-style: normal
}

@font-face {
  font-family: latolight_italic;
  src: url(../fonts/lato-lightitalic_0-webfont.woff2) format("woff2"), url(../fonts/lato-lightitalic_0-webfont.woff) format("woff");
  font-weight: 400;
  font-style: normal
}

@font-face {
  font-family: latomedium;
  src: url(../fonts/lato-medium-webfont.woff2) format("woff2"), url(../fonts/lato-medium-webfont.woff) format("woff");
  font-weight: 400;
  font-style: normal
}

@font-face {
  font-family: latomedium_italic;
  src: url(../fonts/lato-mediumitalic-webfont.woff2) format("woff2"), url(../fonts/lato-mediumitalic-webfont.woff) format("woff");
  font-weight: 400;
  font-style: normal
}

@font-face {
  font-family: latoregular;
  src: url(../fonts/lato-regular_0-webfont.woff2) format("woff2"), url(../fonts/lato-regular_0-webfont.woff) format("woff");
  font-weight: 400;
  font-style: normal
}