
/* ====HABMURGER MENU========== */


#nav-icon {
  width: 60px;
  height: 32px;
  position: relative;
  z-index: 9999;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  -o-transform: rotate(0deg);
  transform: rotate(0deg);
  -webkit-transition: .5s ease-in-out;
  -moz-transition: .5s ease-in-out;
  -o-transition: .5s ease-in-out;
  transition: .5s ease-in-out;
  cursor: pointer;
  display: none;
  @include netbook  {
    position: absolute;
    right: 0;
    top: 10%;
    transform:translate(-50%);
  }
  @include iphone5  {
    right: -20px;
    width: 50px;
  }
}

#nav-icon span {
  display: block;
  position: absolute;
  height: 5px;
  width: 50%;
  background: #74b31c;
  opacity: 1;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  -o-transform: rotate(0deg);
  transform: rotate(0deg);
  -webkit-transition: .25s ease-in-out;
  -moz-transition: .25s ease-in-out;
  -o-transition: .25s ease-in-out;
  transition: .25s ease-in-out;
  @include iphone5  {
    width: 30%;
  }
}


#nav-icon span:nth-child(even) {
  left: 50%;
  border-radius: 0 9px 9px 0;
}

#nav-icon span:nth-child(odd) {
  left:0px;
  border-radius: 9px 0 0 9px;
  @include iphone5  {
    left: 11px;
  }
}

#nav-icon span:nth-child(1), #nav-icon span:nth-child(2) {
  top: 0px;
  @include iphone5  {
    top: 5px;
  }
}

#nav-icon span:nth-child(3), #nav-icon span:nth-child(4) {
  top: 18px;
  @include  iphone5  {
    top: 16px;
  }
}

#nav-icon span:nth-child(5), #nav-icon span:nth-child(6) {
  top: 36px;
  @include  iphone5  {
    top: 28px;
  }
}

#nav-icon.open span:nth-child(1),#nav-icon.open span:nth-child(6) {
  -webkit-transform: rotate(45deg);
  -moz-transform: rotate(45deg);
  -o-transform: rotate(45deg);
  transform: rotate(45deg);
}

#nav-icon.open span:nth-child(2),#nav-icon.open span:nth-child(5) {
  -webkit-transform: rotate(-45deg);
  -moz-transform: rotate(-45deg);
  -o-transform: rotate(-45deg);
  transform: rotate(-45deg);
}

#nav-icon.open span:nth-child(1) {
  left: 5px;
  top: 7px;
}

#nav-icon.open span:nth-child(2) {
  left: calc(50% - 5px);
  top: 7px;
}

#nav-icon.open span:nth-child(3) {
  left: -50%;
  opacity: 0;
}

#nav-icon.open span:nth-child(4) {
  left: 100%;
  opacity: 0;
}

#nav-icon.open span:nth-child(5) {
  left: 5px;
  top: 29px;
}

#nav-icon.open span:nth-child(6) {
  left: calc(50% - 5px);
  top: 29px;
}




