.indexform  {
    padding: 50px 0;
    display: flex;
    justify-content: center;
    align-items: center;
    background: #10292e url(../images/index/bgforest.png) 100% -80% no-repeat;
    @include netbook  {
        flex-direction: column;
    }
    &__wrap:first-child  {
        margin-right: 50px;
        display: flex;
        flex-direction: column;
        @include netbook  {
            margin-right: 0;
            padding: 40px 15px;
            width: 100%;
        }
    }
    &__wrap:last-child  {
        @include netbook  {
            order:-1;
        }
    } 
    &-foot  {
        width: 100%;
        border-top: none;
        margin: 0;
        order: -1;
        @include netbook  {
            width: 100%;
        }
    }
    &__form  {
        width: 100%;
    }
    &__social  {
        margin:0px auto;
    }
}