.header-index {
  background: url(../images/contacts/contacts_bg2.jpg) no-repeat;
  background-position: 100% 50%;
  -webkit-background-size: cover;
  position: relative;
  height: 100vh;
  width: 100%;
  @include tablets  {
      background: url(../images/contacts/contacts_bg2.jpg) 50% 50% no-repeat;
  }
}
.headwrap {
  width: 80%;
  margin: 0px auto;
  padding: 150px 0 0 0;
  text-align: center;
  @include netbook  {
    width: 100%;
    margin:0;
  }
  &__title {
    font-family: $latolight;
    font-size: 64px;
    color: rgba(255, 255, 255, 255);
    @include netbook  {
      font-size: 52px;
    }
    @include phones  {
      margin-top: 90px;
      font-size: 26px;
    }
  }
  &__slogan {
    font-family: $latolight;
    font-size: 34px;
    color: rgba(255, 255, 255, 255);
    width: 49%;
    margin: 20px  auto;
    text-transform: uppercase;
    @include tablets  {
      width: 95%;
      font-size: 18px;
    }
  }
  &__line   {
    display: inline-block;
    border:1px solid #fff;
    width: 30%;
    margin: 50px auto;
    @include netbook  {
      width: 45%;
    }
    @include phones  {
      display: none;
    }
  }
  &__link  {
    display: block;
    padding:20px 40px;
    font-size: 20px;
    font-family:$latolight;
    background: #1e304a;
    color: #fff;
    width: 231px;
    margin: 30px auto 100px;
    transition: .5s;
    @include netbook  {
      margin: 0 auto 20px;
    }
    @include phones  {
        display: none;
    }
    &:hover  {
      transform:scale(1.2);
    }
  }
  &__form  {
    display: flex;
    justify-content: center;
    align-items: center;
    @include netbook  {
      flex-direction: column;
    }
 
  }
  &__input  {
    margin-right:20px;
    height: 50px;
    border:2px solid #fff;
    text-align: center;
    background: transparent;
    color: #fff;
    font-size: 24px;
    font-family: $latolight;
    &::-moz-placeholder { color: #fff; }
    &::-webkit-input-placeholder { color: #fff; }
    @include netbook  {
      margin-right:0px;
      width: 50%;
      margin-bottom: 40px;
    }
    @include phones  {
      width: 90%;
      font-size: 16px;
    }
  }
  &__but  {
    height: 50px;
    padding: 0 40px;
  }
}

//////=====================================================================================================
//////==                                            SECTION TOTAL
//////=====================================================================================================
.total  {
  display: flex;
  @include netbook  {
    flex-direction: column;
  }
  &__block  {
    flex-basis: 100%;
    &-one  {
      background:#80b74a;
    }
    &-two  {
      background: #74a940;
    }
    &-three  {
      background:#649435 ;
    }
  }
  &__wrap  {
    text-align: center;
    padding:80px 0;
    @include desktop  {
      padding:40px 0;
    }
  }
  &__icon  {
    width: 90px;
    height: 90px;
    @include desktop  {
      width: 50px;
      height: 50px;
    }
    @include  netbook  {
      width: 90px;
    height: 90px;
    }
    &__clock  {
      height: 70px;
      margin-bottom: 20px;
    }
    &__jeep {
      width: 110px;
      @include tablets  {
        width: 90px;
      }
      @include netbook  {
        width: 110px;
      }
    }
  }
  &__title  {
    font-size: 50px;
    color: rgba(255, 255, 255, 255);
    font-family:$latoblack;
    @include desktop  {
      font-size: 24px;
    }
  }
  &__descript  {
    color: #fff;
    font-family:$latolight;
    font-size: 30px;
    @include desktop  {
      font-size: 20px;
    }
  }
}

//====================================================================================================
//============                         SECTION PROJECT
//====================================================================================================

.project  {
  background: #f4f4f4;
  text-align: center;
  padding: 100px 0;
  @include desktop  {
    padding: 60px 0;
  }
  @include phones  {
    padding: 30px 0;
  }
  &__title  {
    font-family:$latomedium;
    font-size: 30px;
    color: rgba(56, 56, 56, 255);
    text-transform: uppercase;
    @include desktop  {
      font-size: 20px;
    }
  }
  &__descript  {
    font-size: 20px;
    color: rgba(56, 56, 56, 255);
    font-family:$latolight;
    display: inline-block;
    width: 50%;
    padding:0 0 50px 0;
    @include desktop  {
      width: 70%;
    }
    @include phones  {
      width: 90%;
      padding: 20px 0;
    }
  }
  &__but  {
    padding:0  40px;
    margin: 0 auto;
    text-transform: uppercase;
  }
}