.next  {
    display: flex;
  &__blockTitle  {
    width: 30%;
    background: #09343c;
    text-align: center;
    padding: 200px 0 100px;
    position: relative;
    @include netbook  {
      width: 15%;
      padding: 120px 0 80px;
    }
    @include  tablets  {
      width: 0;
    }
  }
  &__title  {
    color: #fff;
    font-size: 45px;
    font-family:$latolight;
    position: absolute;
    top: 50%;
    transform: translate(0,-50%);
    @include netbook  {
      font-size: 18px;
    }
  }
  &__wrap {
    width: 70%;
    background: url("../images/contacts/contacts_bg.jpg") 100% 50% no-repeat;
    background-size:cover;
    position: relative;
    @include  netbook  {
      width: 90%;
    }
    @include tablets  {
      width: 100%;
    }
  }
  &__blockExpedition  {
    position: absolute;
    bottom: 0;
    right: 0;
    padding: 50px;
    text-align: right;
    @include netbook  {
      padding: 20px 50px;
    }
    @include tablets  {
      padding: 10px 20px;
    }
  }
  &__geo  {
    text-transform: uppercase;
    color: #fff;
    font-family:$latobold;
    font-size:28px;
    @include tablets {
      font-size: 20px;
    }
  }
  &__data  {
    text-transform: uppercase;
    color: #fff;
    font-size:28px;
    font-family:latolight_italic;
    @include tablets  {
      font-size: 18px;
    }
  }
  &__price  {
    text-transform: uppercase;
    color: #6ba522;
    font-size:28px;
    margin-bottom: 30px;
    font-family:latoheavy_italic;
    @include tablets  {
      font-size: 20px;
    }
  }
  &__button  {
    display: inline-block;
    padding: 0 55px;
  }
}