.notes  {
  background: #fff;
  position: relative;
  padding:35px 0 0 0;
   @include desktop  {
     padding: 80px 0;
   }
  &__title  {
    font-size: 30px;
    color: rgba(56, 56, 56, 255);
    font-family:$latomedium;
    text-align: center;
    margin-bottom: 80px;
    @include desktop {
      margin-bottom: 50px;
      margin-top: 50px;
      font-size: 24px;
    }
    @include netbook  {
      margin-top: 30px;
      margin-bottom: 65px;
    }
  }
  &__link  {
    font-family:$latolight;
    font-size: 18px;
    color: rgba(56, 56, 56, 255);
    position: absolute;
    right: 4%;
    top: 9%;
    @include desktop  {
      top: 5%;
    }
    @include netbook  {
      top: 150px;
    }
  }
  &__list  {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
  }
  &__item  {
    width:40%;
    margin-bottom: 80px;
    @include desktop  {
      width: 100%;
      margin-bottom: 50px;
    }
  }
  &__wrap  {
    display: flex;
    justify-content: center;
    align-items: center;
    @include phones  {
      flex-wrap: wrap;
    }
  }
  &__img  {
    width: 235px;
    height: 163px;
    overflow: hidden;
    @include desktop  {
      width: 289px;
      height: 216px;
    }
  }
  &__descript  {
    width: 58%;
    padding:10px 5px 10px 35px;
    @include phones  {
      width: 95%;
      padding:10px 0;
      text-align: center;
    }
  }
  &__titles  {
    font-size: 24px;
    color: rgba(56, 56, 56, 255);
    font-family:$latomedium;
    @include desktop  {
      font-size: 24px;
    }
  }
  &__text  {
    font-size: 18px;
    color: rgba(56, 56, 56, 255);
    font-family:$latolight;
  }
}