.orders  {
    margin: 0 -10px;
    padding: 30px 0;
    background:url(../images/index/bg-index.jpg) 100% 100%no-repeat;
    background-size: cover;
    display: flex;
    justify-content: center;
    align-self: center;
    @include netbook  {
        flex-direction: column;
    }
    &__descript  {
        display: flex;
        align-self: center;
        @include netbook  {
            margin-bottom: 10px;
        }
    }
    &__img  {
        width: 80px;
        height: 80px;
        overflow: hidden;
        @include phones  {
            width: 50px;
            height: 50px;
        }
    }
    &__form  {
        display: flex;
        align-self: center;
        @include netbook  {
            width: 80%;
        }
    }
    &__text  {
        font-family: $latolight;
        font-size: 30px;
        color: rgba(255, 255, 255, 255);
        padding: 0 50px 0 30px;
        line-height: 80px;
        text-transform: uppercase;
        @include desktop  {
            font-family: latolight;
            font-size: 20px;
            color: #fff;
            padding: 0px 20px 0 15px;
        }
        @include phones  {
            font-size: 14px;
        }
    }
    &__mail  {
        width: 490px;
        padding: 15px;
        @include netbook  {
            width: 100%;
        }
    }
    &__button  {
        width: 175px;
        height: 59px;
        font-family: $latolight;
    }
}