.price  {
  &-on  {
    padding: 100px 0;
    background: #74a940;
    @include  desktop {
      padding: 80px 0;
    }
    @include netbook  {
      padding: 40px 0px;
    }
    &__price  {
      display: flex;
      width: 60%;
      @include  netbook  {
        width: 95%;
        flex-direction: column;
      }
    }
    &__pic  {
      @include netbook  {
        text-align: center;
      }
    }
    &__container  {
      position: relative;
      @include desktop  {
         
      }
      @include netbook  {
        width: 100%;
        text-align: center;
      }
    }
    &__container2  {
      transform: translateX(-55%);
      @include desktop  {
        transform:none;
      }
    }
    &__wrap  {
      display: flex;
      justify-content: center;
      align-items: center;
      @include desktop  {
        flex-direction: column;
      
      }
    }
    & h6 {
      width: 61%;
      text-transform: uppercase;
      font-family: $latomedium;
      font-size:60px;
      color: rgba(255, 255, 255, 255);
      @include desktop  {
        width: 100%;
        font-size: 50px;
      }
      @include netbook  {
        font-size: 40px;
      }
      @include tablets  {
        font-size: 30px;
      }
    }
    & p {
      font-family:$latoheavy;
      font-size: 18px;
      color: rgba(255, 255, 255, 255);
    }
    &__img  {
      position: relative;
      margin: 10px 0;
      &:before  {
        position: absolute;
        content: '700 € ';
        color: #fff;
        font-size: 32px;
        font-family: $latoheavy;
        width: 100px;
        height: 20px;
        left: 20px;
        top: 4px;
        @include netbook  {
          left: 45%;
        }
        @include phones  {
          left: 40%;
        }
      }
    }
  }
  &-off  {
    background: #649435;
    -webkit-box-shadow: inset -25px 155px 86px -74px rgba(95,142,49,1);
    -moz-box-shadow: inset -25px 155px 86px -74px rgba(95,142,49,1);
    box-shadow: inset -25px 155px 86px -74px rgba(95,142,49,1);
    position: relative;
    &__plus  {
      height: 81px;
      width: 81px;
      border-radius: 50%;
      overflow: hidden;
      position: absolute;
      background: #5c8b2f;
      color: #fff;
      font-size: 40px;
      line-height: 81px;
      text-align: center;
      left: 50%;
      transform:translate(-50%,-50%);
    }
    &__title  {
      font-size: 20px ;
      text-transform: uppercase;
      color: #fff;
      font-family:$latolight;
      text-align: center;
      margin-bottom: 70px;
      padding: 100px 0 0 0;
      @include tablets  {
        padding: 50px 0 0 0;
        margin-bottom: 20px;
      }
    }
    &__list  {
      display: flex;
      justify-content: space-between;
      @include netbook  {
        flex-wrap: wrap;
        padding-bottom: 30px;
        align-items: center;
      }
    }
    &__item  {
      flex-basis:100%;
      text-align: center;
      padding: 0 24px;
      @include desktop  {
        padding: 0 14px;
      }
      @include netbook  {
        flex-basis: 30%;
      }
      @include tablets  {
        flex-basis: 100%;
        border-bottom: 1px solid #fff;
        padding: 10px 15px;
        &:last-child  {
          border: none;
        }
      }
    }
    &__subtitle  {
      font-family:$latoblack;
      color: #fff;
      font-size: 18px;
      margin-bottom: 20px;
    }
    &__description  {
      font-family:$latolight;
      color: #fff;
      font-size: 18px;
    }
  }
}
.line  {
  display: inline-block;  
  height: 2px;
  width: 100%;
  background: #fff;
  @include tablets {
    display: none;
  }
}
.buttn  {
  height: 80px;
  width: 370px;
  margin: 20px auto 0;
  background: #10292e;
  display: block;
  cursor: pointer;
  transform: skewX(-20deg);
  transition: .3s;
  position: relative;
  &:hover {
    background: #123d46;
}
  @include  netbook  {
    width: 250px;
    height:60px;
  }

  &:before  {
    position: absolute;
    content: 'Хочу поехать!';
    color: #fff;
    font-size: 35px;
    font-family:$latoregular;
    left: 50%;
    top: 50%;
    transform: translate(-50%,-50%) skewX(20deg);
    white-space: nowrap;
    @include phones  {
      font-size: 24px;
    }
  }
  &::after  {
    content: '';
    position: absolute;
    left: -40px;
    width: 2px;
    height: 300px;
    background: #7fb44b;
    display: block;
    top: -100px;
    @include desktop  {
      display: none;
    }
  }
}
