.route  {
  background: #fff;
  padding: 70px 0;
  @include tablets  {
    padding: 30px 15px;
  }
  &__wrap  {
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-direction: column;
  }
  &__wrap h4 {
    font-family: $latobold;
    font-size: 24px;
    color: rgba(9, 52, 60, 255);
    margin-bottom: 90px;
    @include tablets  {
      margin-bottom: 40px;
    }
  }
  &__img  {
    margin-bottom:90px;
  }
  &__descript  {
    display: inline-block;
    text-align: center;
    padding:10px 30px;
    background: #e9e9e9;
    @include tablets  {
      padding: 10px 25px;
    }
    & p:first-child  {
      font-size: 60px;
      color: rgba(9, 52, 60, 255);
      font-family: 'latoblack';
      margin-bottom: 13px;
      @include tablets  {
        font-size: 32px;
      }
    }
    & p:last-child  {
      font-size: 16px;
      color: rgba(9, 52, 60, 255);
      font-family: 'latomedium';
      margin-bottom: 13px;
    }
  }
}