.tours  {

    &__head  {
        background: url(../images/index/bg-tours.jpg)100% 50% no-repeat;
        background-size: cover;
        position: relative;
        height: 80%;
        width: 100%;
        &:after  {
            content: '';
            position: absolute;
            right: 0;
            bottom: 0;
            width: 100%;
            height: 50%;
            background: url(../images/index/shadow.png)100% 100% no-repeat;
            z-index: 0;
            @include netbook  {
                display: none;
            }
        }
    }
    &__title  {
        font-family: $latomedium;
        font-size: 30px;
        color: rgba(56, 56, 56, 255);
        text-align: center;
        margin: 70px 0;
        @include netbook  {
            margin: 40px 0;
        }
    }
    &__wrap  {
        width: 80%;
        margin: 0 auto;
        display: flex;
        flex-direction: column;
        justify-content: center;
        @include netbook  {
            width: 95%;
        }
    }
    &__item  {
        display: flex;
        justify-content: center;
        margin-bottom: 70px;
        @include netbook  {
          flex-direction: column;
          text-align: center;
          align-items: center;
        }
    }
    &__img  {
        width: 670px;
        height: 400px;
        overflow: hidden;
        margin-right: 90px;
        @include netbook  {
            margin-right: 0;
            margin-bottom: 20px;
          }
          @include tablets  {
              width: 470px;
              height: 290px;
          }
          @include phones  {
            width: 300px;
            height: 230px;
            margin-bottom: 0;
          } 
    }
    &__descript  {
        width: 50%;
        @include netbook  {
            width: 95%;
          }
    }
    &__country  {
        font-family: $latolight;
        font-size: 30px;
        color: rgba(56, 56, 56, 255);
    }
    &__data  {
        font-size: 18px;
        color: rgba(56, 56, 56, 255);
        font-family: latolight_italic;
        @include netbook  {
            margin: 0px 0 20px;
        }
        @include phones  {
            margin: 0px;
        }
    }
    &__line  {
        position: relative;
        @include phones  {
            display: none;
        }
        &:after  {
            content: "";
            position: absolute;
            height: 1px;
            width: 50%;
            right: 25%;
            bottom: -50%;
            background: #ccc;
            display: block;
        }
    }
    &__price  {
        font-size: 20px;
        color: rgba(56, 56, 56, 255);
        font-family: $latoheavy;
        margin: 18px 0;
        @include netbook  {
            margin-bottom: 15px;
        }
    }
    &__text  {
        font-size: 18px;
        color: rgba(56, 56, 56, 255);
        font-family: $latolight;
        margin-bottom: 40px;
        @include phones  {
            margin-bottom: 20px;
        }
    }

    &__next  {
        padding-top: 0;
        @include netbook  {
            padding-top: 0;
        }
    }
    &__list  {
        width: 80%;
        margin: 0 auto;
        @include  netbook  {
            width: 95%;
        }
    }
    
}