.travels  {
    
    &__head  {
        background: url(../images/index/travels.jpg)100% 50% no-repeat;
        background-size: cover;
        position: relative;
        height: 80%;
        width: 100%;
        @include phones  {
            background: url(../images/index/travels.jpg)50% 50% no-repeat;
            background-size: cover;
        }
        &:before  {
            content: '';
            position: absolute;
            left: 0;
            top: -47%;
            width: 100%;
            height: 100%;
            background: url(../images/index/sky.png)100% 100%;
            z-index: 0;
        }
        &:after  {
            content: '';
            position: absolute;
            right: 0;
            bottom: 0;
            width: 100%;
            height: 50%;
            background: url(../images/index/shadow.png)100% 100% no-repeat;
            z-index: 0;
        }
    }
}
.none:before  {
    display:none;
}