.travelnext  {
    padding: 90px 0 ;
    background: #fff;
    position: relative;
    @include desktop  {
        padding: 60px 0 ;
    }
    &__link-calendar  {
        position: absolute;
        right: 5%;
        font-size: 18px;
        color: rgba(56, 56, 56, 255);
        font-family:$latolight;
        @include tablets  {
            top: 150px;
        }
    }
    &__title  {
        font-size: 30px;
        color: rgba(56, 56, 56, 255);
        font-family: $latomedium;
        text-align: center;
        text-transform: uppercase;
        margin-bottom: 70px;
    }  
    &__list  {
        display: flex;
        justify-content: center;
        align-items: center;
        @include desktop {
            flex-wrap: wrap;
        }
    }
    &__item  {
        margin:0 15px;
        text-align: center;
        @include desktop  {
            width: 40%;
            margin-bottom: 40px;
        }
        @include tablets  {
            width: 95%;
        }
    }

    &__img:before  {
        display: block;
        content:""; 
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 98%;
        transition: .4s;
    }
    &__wrap  {
        position: relative;
        overflow: hidden;
        transition: all .4s;
        cursor: pointer;
        &:before  {
            position: absolute;
            content: 'Страна';
            top: 13%;
             right: 40px;
            color: #fff;
            font-family: $latolight;
            font-size: 16px;
            z-index: 12;
        }
        &:hover .travelnext__img::before  {
            background-color:rgba(0,0,0,.5);
        }
        &:hover .travelnext__price {
            opacity: 1;
        }
        &:hover .travelnext__day  {
            opacity: 1;
        }
        &:hover .travelnext__country  {
            background: #6ba522;
        }
    }
 
    &__country  {
        position: absolute;
        width: 145px;
        height: 41px;
        background: #515358;
        color: #fff;
        font-size: 16px;
        font-family: $latolight;
        top: 10%;
        transform: skewX(10deg);
        right: -5px;
        opacity: .8;
        transition: .4s;
    }
    &__price  {
        padding: 10px 20px;
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%,-50%);
        border: 1px solid #fff;
        opacity: 0;
        transition: .4s;
    }
    &__data  {
        font-size: 16px;
        color: #fff;
        font-family: $latolight;
    }
    &__sum  {
        font-size: 30px;
        color: #fff;
        font-family: $latoblack;
    }
    &__day  {
        position: absolute;
        bottom: 15px;
        left: 50%;
        transform: translate(-50%);
        color: #fff;
        font-family: $latolight;
        font-family: 16px;
        opacity: 0;
        transition: .4s;
    } 
    &__titles  {
        text-align: center;
        font-size: 34px;
        color: rgba(56, 56, 56, 255);
        font-family: $latolight;
        margin: 20px 0;
        @include netbook {
            margin: 10px 0;
        }
    }
    &__text  {
        font-size: 18px;
        color: rgba(56, 56, 56, 255);
        font-family: $latolight;
        text-align: center;
        margin-bottom: 60px;
        @include desktop  {
            margin-bottom: 15px;
        }
    }
    &__button  {
        padding: 12px 50px;
        display: inline-block;
        font-size: 20px;
        color:#fff;
        font-family: $latolight;
    }
}
