.travelnotes  {
    background: #fff;
    padding:90px 0 50px 0;
    position: relative;
    @include netbook  {
        padding: 70px 0;
    }
    &__title  {
        position: absolute;
        font-size: 60px;
        color:#fff;
        font-family: $latomedium;
        right: 100px;
        bottom: 10%;
        width: 32%;
        z-index: 2;
        text-transform: uppercase;
        text-align: right;
        @include desktop  {
            width: 55%;
        }
        @include netbook {
           font-size: 28px;
           width: 95%;
           bottom: 35%;
           text-align: center;
           right: 0px;
        }
    }
    &__list  {
        width: 60%;
        margin: 0 auto;   
        position: relative;
        & li:nth-child(2n){
            background: #F5F5F5;
            border: 20px solid #F5F5F5;
        }
        &:before  {
            position: absolute;
            content: "";
            height: 1px;
            width: 100%;
            background: #ccc;
            bottom: -5%;
            left: -2%;
        }
        @include desktop  {
            width: 70%;
        }
        @include netbook  {
            width: 95%;
        }
    }
    &__item  {
        display: flex;
        margin-bottom: 50px;
        align-items: center;
        border: 20px solid transparent;
        @include netbook  {
            flex-direction: column;
        }
    }
    &__img  {
        width: 300px;
        height:210px;
        overflow: hidden;
    }
    &__text  {
        width: 65%;
        padding-left: 30px;
        text-align: right;
        @include desktop  {
            width: 95%;
            text-align: center;
            padding-left: 0px;
        }
    }
    &__titles  {
        font-size: 24px;
        color: rgba(56, 56, 56, 255);
        font-family: $latomedium;
        text-align: left;
        @include netbook  {
            text-align: center;
        }
    }
    &__descript  {
        font-size: 18px;
        color: rgba(56, 56, 56, 255);
        font-family: $latolight;
        padding: 20px 0;
        text-align: left;
        @include netbook  {
            text-align: center;
            padding: 10px 0;
        }
    }
    &__link  {
        font-size: 18px;
        color: rgba(107, 165, 34, 255);
        font-family: $latomedium;
    }
    &__button  {
        width: 200px;
        text-align: center;
        margin: 0px auto;
        margin-top: 120px;
    }
}

  
  /* ===== Select Box ===== */
  .sel {
    font-size: 1rem;
    display: inline-block;
    margin: 3em 2em;
    width: 80px;
    background-color: transparent;
    position: relative;
    cursor: pointer;
  }
  
  .sel::before {
    position: absolute;
    content: '';
    border: 5px solid transparent;	
    border-top: 5px solid black;
    right: 12px;
    top: 9px;
  }
  
  .sel.active::before {
    transform: rotateX(-180deg);
  }
  
  .sel__placeholder {
    display: block;
    font-family: $latolight;
    font-size: 1em;
    color: #838e95;
    padding: 0.2em 0.5em;
    text-align: left;
    pointer-events: none;
    user-select: none;
    visibility: visible;
  }
  
  .sel.active .sel__placeholder {
    visibility: hidden;
  }
  
  .sel__placeholder::before {
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    padding: 0.2em 0.5em;
    content: attr(data-placeholder);
    visibility: hidden;
  }
  
  .sel.active .sel__placeholder::before {
    visibility: visible;
  }
  
  .sel__box {
    position: absolute;
    top: calc(100% + 4px);
    left: -4px;
    display: none;
    list-style-type: none;
    text-align: left;
    font-size: 1em;
    background-color: #DEDEDE;
    width: calc(100% + 8px);
    box-sizing: border-box;
  }
  
  .sel.active .sel__box {
    display: block;
    animation: fadeInUp 500ms;
    border: 2px solid rgba(0, 0, 0, 0.3);
  }
  
  .sel__box__options {
    display: list-item;
    font-family: $latolight;
    font-size: 1em;
    color: #838e95;
    padding: 0.5em 1em;
    user-select: none;
  }
  .sel__box__options:hover {
    background: #669933;
    color: #fff;
  }
  
  /* ----- Select Box Black Panther ----- */
  .sel {
    border: 2px solid rgba(0, 0, 0, 0.3);
  }
  
  .sel--black-panther {
    z-index: 3;
    position: absolute;
    top: 4%;
    left: 10%;
    background: #eee;
    @include desktop  {
      top: 0;
      left: 0;
    }
  }
  
  /* ----- Select Box Superman ----- */
  .sel--superman {
  /*   display: none; */
    z-index: 2;
  }

  
  /* ===== Keyframes ===== */
  @keyframes fadeInUp {
    from {
      opacity: 0;
      transform: translate3d(0, 20px, 0);
    }
  
    to {
      opacity: 1;
      transform: none;
    }
  }
  
  @keyframes fadeOut {
    from {
      opacity: 1;
    }
  
    to {
      opacity: 0;
    }
  }
  .photogallery__article li:nth-child(2n){
    border: none;
    background: #fff;
  }