//colors
$white:                       #ffffff;

//fonts
$font-size:                   14px;
//media queries
$screen-i5:                   320px;
$screen-xs:                   480px;
$screen-sm:                   768px;
$screen-md:                   992px;
$screen-lg:                   1200px;
$screen-xl:                   1920px;



$latoblack:              "latoblack";
$latobold:                "latobold";
$latoheavy:               "latoheavy";
$latolight:               "latolight";
$latomedium:               "latomedium";
$latoregular:              "latoregular";
